<p>home works!</p>
<section class="resume-section" id="sobremi">
  <div class="resume-section-content">
    <div class="minombre">
      <h1 class="mb-0">
        SANTIAGO
        <span class="text-primary">MESA PARRA</span>
      </h1>
    </div>
    <div class=" mb-5">
      Medellín - Colombia · (311) 375-8440 ·
      <a href="mailto:name@email.com">santiagomesa0911@gmail.com</a>
    </div>
    <p >
      Técnico en desarrollo de software con alto sentido de responsabilidad, compromiso, honestidad y capacidad
      para trabajar en equipo con aptitudes para el desarrollo de planes en mira a la solución de problemas,
      Además tengo habilidades en HTML5, BOOSTRAP avanzado y un intermedio de NODEJS </p>
    <p class="mb-5">
      DESARROLLADOR FREELANCE EN <a href="https://www.mgpanel.org/">MGPANEL</a>
    </p>

    <div class="social-icons">
      <a class="social-icon-linkedin" target="_blank" href="https://www.linkedin.com/in/santiago-mesa-parra-dev/"><i
          class="fab fa-linkedin-in"></i></a>
      <a class="social-icon-github" target="_blank" href="https://github.com/SantiagoMesa0911"><i
          class="fab fa-github"></i></a>
      <a class="social-icon-twitter" target="_blank" href="https://twitter.com/SantiagoMe0911"><i
          class="fab fa-twitter"></i></a>
      <a class="social-icon-facebook" target="_blank" href="https://www.facebook.com/santiagomesaparra/"><i
          class="fab fa-facebook-f"></i></a>
      <a class="social-icon-instagram" target="_blank" href="https://www.instagram.com/santiagomesa0911/"><i
          class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>